@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CarveWheels</h1>
    <p>We are here to bring you food that will make you carve for more food on wheels</p>
    <a asp-controller="Shop" asp-action="Index" class="btn btn-primary">Get me the food dude</a>
</div>
